.Auth {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.Auth-left {
  flex: 1;
  width: 50%;
  align-items: center;
  height: 100%;
}

.Auth-right {
  flex: 1;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-top: 20%;
  margin-left: 5%;
  height: 100%;
}

.image {
  position: absolute;
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.navbar-app {
  display: none;
}

.rowitems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-password {
  margin-left: 10px;
  padding: 10px;
  font-size: 10px;
  border-radius: 20px;
  cursor: pointer;
}