.Home {
    align-items: center;
    flex: 1;
    margin: 20%;
    justify-content: row;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.left {
    flex: 1;
}

.right {
    flex: 3;
    align-items: end;
    margin-top: 20%;
    margin-left: 50%;
}