.Home {
    flex: 1;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.item {
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}

.buttonLogout {
    background-color: rgb(138, 154, 176);
}

table {
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    background-color: rgba(219, 236, 248, 0.584);
    box-shadow: 0px 0px 2px rgb(102, 136, 161);
    cursor: default;
}

th {
    border-bottom: 1px solid rgb(102, 136, 161);
    background-color: rgb(102, 136, 161);
    padding: 10px;
}

th:first-child {
    background-color: rgb(102, 136, 161);
    border-top-left-radius: 18px;
    width: 20%;
}

th:last-child {
    background-color: rgb(102, 136, 161);
    border-top-right-radius: 18px;
}

td {
    text-align: center;
    background-color: rgb(205, 221, 231);
    border-radius: 10px;
    padding: 10px;
}

.delButton {
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgb(102, 136, 161);
}

.delButton:hover {
    box-shadow: 1px 1px 20px 0px rgb(102, 136, 161);
}

.colItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
}

.detailNav {
    cursor: pointer;
}