.bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-radius: 20px;
  top: 2%;
  left: 4%;
  right: 4%;
  z-index: 1;
  background-color: rgb(193, 223, 245);
  box-shadow: 0px 0px 7px rgb(102, 136, 161);
  border: 1px;

  cursor: default;
  transition: linear all 0.5s;
}

.bar:hover {
  box-shadow: 1px 1px 20px 0px rgb(102, 136, 161);
}

.socialIcons {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}

.drawerItem {
  position: relative;
  align-items: center;
  margin: auto;
  margin-right: 50px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;

  font-family: "Newsreader", serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(102, 136, 161);
}

.drawerItem:hover {
  box-shadow: 1px 1px 10px 0px rgb(102, 136, 161);
}

.logo-divider {
  display: flex;
  margin: auto;
  align-items: center;
  position: relative;
  margin-left: 1em;
  margin-right: auto;
}

.logo {
  height: 50px;
  width: auto;
  background-color: transparent;
  filter: var(--logo_color);
  padding-right: 75px;
}